{{define "text"}}{{.}}{{end}}

{{define "Code"}} <code>{{index . 0}}</code> {{end}}

{{define "Strong"}} <strong>{{index . 0}}</strong> {{end}}

{{define "Link"}} <a href="{{index . 1}}">{{if index . 0}}{{index . 0}}{{else}}{{index . 1}}{{end}}</a> {{end}}

{{define "Img"}}<img{{if index . 0}} alt="{{index . 0}}"{{end}} src="{{index . 1}}">{{end}}


{{define "Header"}}
<h3>{{.}}|inline</h3>
{{end}}


{{define "Paragraph"}}
<p>{{.}}</p>
{{end}}


{{define "Ol"}}
<ol>
{{- range .}}
	<li>{{.}}|inline</li>
{{- end}}
</ol>
{{end}}


{{define "Ul"}}
<ul>
{{- range .}}
	<li>{{.}}</li>
{{- end}}
</ul>
{{end}}


{{define "BlockQuote"}}
<blockquote>
{{- range .}}
	<p>{{.}}</p>
{{- end}}
</blockquote>
{{end}}


{{define "PreCode"}}
<pre>
<code{{if .Lang}} class="{{.Lang}}"{{end}}>
{{.Codes}}
</code>
</pre>
{{end}}


{{define "Note"}}
{{.}}
{{end}}
