{{define "Code"}}<code>{{.}}</code>{{end}}

{{define "Strong"}}<strong>{{.}}</strong>{{end}}

{{define "Link"}}<a href="{{.URL}}">{{.Text}}</a>{{end}}

{{define "Img"}}<img src="{{.Src}}">{{end}}


{{define "Header"}}
<h3>{{.}}</h3>
{{end}}


{{define "Ol"}}
<ol>
{{range .}}
	<li>{{.}}</li>
{{end}}
</ol>
{{end}}


{{define "Ul"}}
<ul>
{{range .}}
	<li>{{.}}</li>
{{end}}
</ul>
{{end}}


{{define "BlockQuote"}}
<blockquote>
{{range .}}
<p>{{.}}</p>
{{end}}
</blockquote>
{{end}}


{{define "PreCode"}}
<pre><code{{if .Lang}} class="{{.Lang}}"{{end}}>
{{.Codes}}
</code></pre>
{{end}}


{{define "Paragraph"}}
<p>
{{.}}
</p>
{{end}}
